!!!
%html
  %head
    %title Foodie
    %meta{name: "viewport", content: "initial-scale = 1.0,maximum-scale = 1.0"}/
    %meta{name: "mobile-web-app-capable", content: "yes"}/
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}/
    %meta{name: "ROBOTS", content: "NOINDEX,NOFOLLOWS"}/
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}/

    %link{href: "/favicon.png", rel: "icon", sizes: "128x128", type: "image/png"}/
    %link{href: "/favicon.png", rel: "apple-touch-icon"}/
    %link{href: "/rsp-startup.png", rel: "apple-touch-startup-image"}/
    %link{href: "foodie.css", media: "all", rel: "stylesheet"}/
    - [196, 128, 64, 16].each do |size|
      %link{href: "rsp-#{size}.png", rel: "shortcut icon", sizes: "#{size}x#{size}"}/
      %link{href: "rsp-#{size}.png", rel: "apple-touch-icon", sizes: "#{size}x#{size}"}/

  %body
    #cache
      %img{src: "loading.gif"}/
      %img{src: "check.png"}/
    #top-bar-container
      #top-bar
        #top-bar-row
          #headline.cell
            פודי
          #headlineCenter.cell
            #blackHole
              %img#pepper{src: "pepper.png"}/
          .cell{style: "text-align: right"}
            Foodie
    #targetMail
      To:
      = @mail_to.split("@").first
    #formContainer
      %form#filterContainer{action: "#", onreset: "setTimeout(updateFilter, 1)", onsubmit: "updateFilter()"}
        %label{for: "filter"} סינון:
        %input#filter{type: "text"}/
        %input{type: "submit", value: "סנן"}/
        %input{type: "reset", value: "נקה"}/
    #metatable
      .row
        .cell
          #tabsContainer
            .row
              #expectedTab.tab.selectedTab
                משלוחים צפויים
              #allTab.tab
                כל המסעדות
              #dinnersTab.tab
                ארוחת ערב
      .row
        #tableContainer
          .restsTable
            - @rests.each do |rest_id, rest|
            - id = rest["id"]
              .restRow{id: "rest_#{id}", onclick: "confirmAnnounce(#{id})", style: "display: none;"}
                .restRowDiv.restImgContainer
                  %img.restImg{src: rest["logo"]}/
                .restRowDiv.restName
                  = rest["name"]
                .restRowDiv.restCheck
                  %img.restCheckImg{id: "status_img_#{id}", src: rest["announced"] ? "check.png" : "pending.gif", title: "מצב שליחת הודעה"}/
      .row
        #empty.cell
          אין
          ☹
    %script{src: "/jquery-1.10.2.min.js", type: "text/javascript"} :cdata
    :javascript
      window.restData = #{@rests.to_json}
    %script{charset: "utf-8", src: "/foodie.js", type: "text/javascript"} :cdata
