!!!
%html
  %head
    %title Foodie
    %meta{name: "viewport", content: "initial-scale = 1.0,maximum-scale = 1.0"}/
    %meta{name: "mobile-web-app-capable", content: "yes"}/
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}/
    %meta{name: "ROBOTS", content: "NOINDEX,NOFOLLOWS"}/
    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}/

    %link{href: "/favicon.png", rel: "icon", sizes: "128x128", type: "image/png"}/
    %link{href: "/favicon.png", rel: "apple-touch-icon"}/
    %link{href: "/rsp-startup.png", rel: "apple-touch-startup-image"}/
    %link{href: "foodie.css", media: "all", rel: "stylesheet"}/
    - [196, 128, 64, 16].each do |size|
      %link{href: "rsp-#{size}.png", rel: "shortcut icon", sizes: "#{size}x#{size}"}/
      %link{href: "rsp-#{size}.png", rel: "apple-touch-icon", sizes: "#{size}x#{size}"}/

  %body
    #cache
      %img{src: "loading.gif"}
      %img{src: "check.png"}
      %img{src: "sadly.png", width: 32}
    #top-bar.table
      #top-bar-right.cell
        פודי
      #top-bar-center.cell
        #black-hole
          %img#pepper{src: "pepper.png"}
      #top-bar-left.cell
        Foodie
    #targetMail
      To:
      = @mail_to.split("@").first
    #formContainer
      %form#filterContainer{action: "#", onreset: "setTimeout(updateFilter, 1)", onsubmit: "return updateFilter()"}
        %label{for: "filter"} סינון:
        %input#filter{type: "text"}/
        %input{type: "submit", value: "סנן"}/
        %input{type: "reset", value: "נקה"}/

    #table-container
      #tabs.table
        #expectedTab.cell.tab.selectedTab
          משלוחים צפויים
        #allTab.cell.tab
          כל המסעדות
        #dinnersTab.cell.tab
          ארוחת ערב

      #restsTableContainer
        #restsTable.table
          - @ordered_rests.each do |rest|
          - id = rest["id"]
            .restRow.row{id: "rest_#{id}", onclick: "confirmAnnounce(#{id})", style: "display: none;"}
              .restImgContainer
                %img.restImg{src: rest["logo"]}
              .restName
                = rest["name"]
              .restCheck
                %img.restCheckImg{id: "status_img_#{id}", src: rest["announced"] ? "check.png" : "pending.gif", title: "מצב שליחת הודעה"}
        #empty.cell
          %img{src: "sadly.png", width: 32}/
          %br
          אין

    %script{src: "/jquery-1.10.2.min.js", type: "text/javascript"} :cdata
    :javascript
      window.restData = #{@rests.to_json}
    %script{charset: "utf-8", src: "/foodie.js", type: "text/javascript"} :cdata
